/* stylelint-disable */
.Theme_color_gpnDark {
    --color-scroll-bg: var(--bg-main-quaternary);
    --color-scroll-thumb:  var(--control-default-typo-typo-placeholder);
    --color-scroll-thumb-hover:  var(--control-default-typo-typo-placeholder);

    /*// Цвета тени /////////// *!*/
    --color-shadow-group-1: #121212;
    --color-shadow-group-2: #121212;
    --color-shadow-layer-1: #121212;
    --color-shadow-layer-2: #121212;
    --color-shadow-modal-1: #121212;
    --color-shadow-modal-2: #121212;

    /* Dark */
    /* color */
    --bg-auxiliary-primary: #4d4d4d;
    --bg-auxiliary-quaternary: #262626;
    --bg-auxiliary-secondary: #404040;
    --bg-auxiliary-tertriary: #333333;
    --bg-border-primary: #4b4b4b;
    --bg-border-secondary: #3d3d3d;
    --bg-border-tertriary: #262626;
    --bg-link-link: #0078d2;
    --bg-main-body: #121212;
    --bg-main-brand: #e0e0e0;
    --bg-main-default: #2c2d2e;
    --bg-main-primary: #2e2e2e;
    --bg-main-quaternary: #2f2f2f;
    --bg-main-secondary: #1d1d1d;
    --bg-main-select: #2e2e2e;
    --bg-main-tertriary: #262626;
    --bg-shadow-shadow-1: #12121226;
    --bg-split-ghost: #e0e0e01a;
    --bg-split-paranja: #0c111366;
    --bg-split-soft: #fafafae5;
    --bg-split-stripe: #fafafa0d;
    --bg-split-tone: #0c1113d9;
    --bg-status-alert: #592121;
    --bg-status-caution: #57481d;
    --bg-status-critical: #410e1d;
    --bg-status-normal: #585858;
    --bg-status-success: #2c5246;
    --bg-status-system: #4b4b4b;
    --bg-status-warning: #55360d;
    --bg-table-primary: #1d1d1d;
    --bg-table-secondary: #262626;
    --bg-table-tetriary: #2e2e2e;
    --card-bg-default: #262626;
    --card-bg-hover: #333333;
    --control-clear-bg-bg: #12121200;
    --control-clear-bg-bg-hover: #e5e5e50d;
    --control-clear-bg-bg-select: #323131;
    --control-clear-typo-typo: #e0e0e0;
    --control-clear-typo-typo-alert: #da3535;
    --control-clear-typo-typo-alert-hover: #da3535;
    --control-clear-typo-typo-hover: #fafafa;
    --control-clear-typo-typo-select: #707070;
    --control-clear-typo-typo-select-active: #e0e0e0;
    --control-clear-typo-typo-select-hover: #707070;
    --control-default-bg-bg: #212121;
    --control-default-bg-bg-active: #212121;
    --control-default-bg-bg-hover: #2e2e2e;
    --control-default-border-border: #3e3e3f;
    --control-default-border-border-active: #e0e0e0;
    --control-default-border-border-alert: #973a39;
    --control-default-border-border-alert-hover: #f01616;
    --control-default-border-border-focus: #ffffff;
    --control-default-border-border-hover: #6d6d6e;
    --control-default-border-border-success: #34e8ac;
    --control-default-border-border-success-hover: #27e292;
    --control-default-border-border-warning: #f2c94c;
    --control-default-border-border-warning-hover: #ffc000;
    --control-default-typo-typo: #e0e0e0;
    --control-default-typo-typo-active: #ffffff;
    --control-default-typo-typo-placeholder: #ffffff59;
    --control-disable-bg-bg: #353535;
    --control-disable-border-border: #fafafa00;
    --control-disable-typo-typo: #676767;
    --control-ghost-bg-bg: #20202000;
    --control-ghost-bg-bg-hover: #202020;
    --control-ghost-bg-bg-select: #404040;
    --control-ghost-border-border: #404040;
    --control-ghost-border-border-hover: #404040;
    --control-ghost-border-border-select: #404040;
    --control-ghost-typo-typo: #e0e0e0;
    --control-ghost-typo-typo-hover: #e0e0e0;
    --control-ghost-typo-typo-select: #e0e0e0;
    --control-primary-bg-bg: #cccccc;
    --control-primary-bg-bg-alert: #cc3e3d;
    --control-primary-bg-bg-alert-hover: #e54645;
    --control-primary-bg-bg-hover: #e0e0e0;
    --control-primary-typo-typo: #363636;
    --control-primary-typo-typo-alert: #e0e0e0;
    --control-primary-typo-typo-alert-hover: #e0e0e0;
    --control-primary-typo-typo-hover: #363636;
    --control-secondary-bg-bg: #353535;
    --control-secondary-bg-bg-hover: #4d4d4d;
    --control-secondary-typo-typo: #e0e0e0;
    --control-secondary-typo-typo-hover: #f5f5f5;
    --counter-bg: #da3535;
    --counter-typo: #ffffff;
    --point-card-bg-alert: #1e1919;
    --point-card-bg-success: #1d211b;
    --point-card-bg-warning: #1d1a16;
    --point-card-border-alert: #803a39;
    --point-card-border-success: #238c6f;
    --point-card-border-warning: #a66611;
    --schema-bg-alert-active: #e55b58;
    --schema-bg-alert-default: #803331;
    --schema-bg-alert-hover: #cc514e;
    --schema-bg-caution-active: #e5bf46;
    --schema-bg-caution-default: #997f2e;
    --schema-bg-caution-hover: #cca93d;
    --schema-bg-coffee-active: #ac6839;
    --schema-bg-coffee-default: #86512d;
    --schema-bg-coffee-hover: #995c33;
    --schema-bg-default-active: #666666;
    --schema-bg-default-default: #333333;
    --schema-bg-default-hover: #4c4c4c;
    --schema-bg-disable-default: #5b5b5b;
    --schema-bg-disposable-active: #a6a6a6;
    --schema-bg-disposable-default: #8c8c8c;
    --schema-bg-disposable-hover: #999999;
    --schema-bg-primary-active: #12a4b2;
    --schema-bg-primary-default: #0d7580;
    --schema-bg-primary-hover: #0f8d99;
    --schema-bg-secondary-active: #cc5563;
    --schema-bg-secondary-default: #99545a;
    --schema-bg-secondary-hover: #b26269;
    --schema-bg-success-active: #00d990;
    --schema-bg-success-default: #008055;
    --schema-bg-success-hover: #00bf7f;
    --schema-bg-warning-active: #e59646;
    --schema-bg-warning-default: #99632e;
    --schema-bg-warning-hover: #cc853e;
    --schema-bg-water-active: #148ebf;
    --schema-bg-water-default: #0e688c;
    --schema-bg-water-hover: #117ba6;
    --schema-typo-alert-default: #803331;
    --schema-typo-caution-default: #997f2e;
    --schema-typo-coffee-default: #86512d;
    --schema-typo-default-default: #333333;
    --schema-typo-disposable-default: #8c8c8c;
    --schema-typo-primary-default: #0d7580;
    --schema-typo-secondary-default: #99545a;
    --schema-typo-success-default: #008055;
    --schema-typo-water-default: #0e688c;
    --scrollbar-bg-active: #686868;
    --scrollbar-bg-hover: #999999;
    --typo-link-link: #ff0000;
    --typo-link-link-hover: #57bcff;
    --typo-link-link-minor: #6fa5c8;
    --typo-main-brand: #e0e0e0;
    --typo-main-ghost: #e0e0e04d;
    --typo-main-primary: #e0e0e0;
    --typo-main-secondary: #707070;
    --typo-status-alert: #ff4443;
    --typo-status-caution: #f8c735;
    --typo-status-critical: #da0b49;
    --typo-status-normal: #e0e0e0;
    --typo-status-success: #11d592;
    --typo-status-system: #d0d0d0;
    --typo-status-warning: #f38b01;
}
